h1{
    color: blue;
    font-size: 50px;
    text-align: center;
    background-color: rgb(185, 219, 240);
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
    margin-top: 20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    font-weight:bolder;


}